<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>Normal</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>primaryBgColor</key>
			<string>#ab12ff</string>
			<key>primaryBgDisableColor</key>
			<string>#4d4d4d</string>
			<key>primaryContentColor</key>
			<string>#000000</string>
			<key>primaryContentDisableColor</key>
			<string>#969696</string>
			<key>secondaryBgColor</key>
			<string>#e8cfff</string>
			<key>secondaryContentColor</key>
			<string>#ab12ff</string>
			<key>searchBgColor</key>
			<string>#4d4d4d</string>
			<key>searchBgDisableColor</key>
			<string>#4d4d4d</string>
			<key>searchContentColor</key>
			<string>#969696</string>
			<key>tagBgSelected</key>
			<string>#ab12ff</string>
			<key>tagBgUnselected</key>
			<string>#4d4d4d</string>
			<key>tagContentSelected</key>
			<string>#000000</string>
			<key>tagContentUnselected</key>
			<string>#e3e3e3</string>
			<key>floorBgSelected</key>
			<string>#ab12ff</string>
			<key>floorBgUnselected</key>
			<string>#000000</string>
			<key>floorContentSelected</key>
			<string>#ffffff</string>
			<key>floorContentUnselected</key>
			<string>#ffffff</string>
			<key>badgeColor</key>
			<string>#ffffff</string>
			<key>inputFieldPlaceholder</key>
			<string>#969696</string>
			<key>inputFieldTextColor</key>
			<string>#ffffff</string>
			<key>inputFieldBgColor</key>
			<string>#666666</string>
			<key>inputFieldBorder</key>
			<string>#969696</string>
			<key>inputFieldBorderUnfocused</key>
			<string>#666666</string>
			<key>openColor</key>
			<string>#52C41A</string>
			<key>closeColor</key>
			<string>#F5222D</string>
			<key>dividerColor</key>
			<string>#666666</string>
			<key>detailIconColor</key>
			<string>#666666</string>
			<key>commonTextColor</key>
			<string>#ffffff</string>
			<key>titleTextColor</key>
			<string>#ffffff</string>
			<key>subTextColor</key>
			<string>#ffffff</string>
			<key>currentStepIconColor</key>
			<string>#ab12ff</string>
			<key>nonCurrentStepIconColor</key>
			<string>#969696</string>
			<key>indoorLineColor</key>
			<string>#49b1d3</string>
			<key>outdoorLineColor</key>
			<string>#52C41A</string>
			<key>dashLineColor</key>
			<string>#49b1d3</string>
			<key>buildingSelectorTextColor</key>
			<string>#ffffff</string>
			<key>buildingSelectorBgColor</key>
			<string>#262626</string>
			<key>buildingSelectorBorderColor</key>
			<string>#262626</string>
			<key>buildingSelectorDisableTextColor</key>
			<string>#8c8c8c</string>
			<key>buildingSelectorDisableBgColor</key>
			<string>#262626</string>
			<key>buildingSelectorDisableBorderColor</key>
			<string>#262626</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>font_heading_1</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>20</string>
			</dict>
			<key>font_heading_2</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>15</string>
			</dict>
			<key>font_body_1</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>15</string>
			</dict>
			<key>font_caption</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>13</string>
			</dict>
			<key>font_titlelabel</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>17</string>
			</dict>
		</dict>
		<key>Corner</key>
		<dict>
			<key>buttonShapeCorner</key>
			<integer>0</integer>
			<key>imageShapeCorner</key>
			<integer>0</integer>
			<key>searchBarShapeCorner</key>
			<integer>0</integer>
			<key>bottomSheetShapeCorner</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
